.dataset-dots {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(170, 170, 170, 0.5);
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: chocolate;
    position: absolute;
}

/* First column */

.dot-1 {
    top: 60px;
    left: 60px;
}

.dot-2 {
    top: 200px;
    left: 60px;
}

.dot-3 {
    top: 340px;
    left: 60px;
}

.dot-4 {
    top: 480px;
    left: 60px;
}

.dot-5 {
    top: 640px;
    left: 60px;
}

/* Second column */

.dot-6 {
    top: 60px;
    left: 215px;
}

.dot-7 {
    top: 200px;
    left: 215px;
}

.dot-8 {
    top: 340px;
    left: 215px;
}

.dot-9 {
    top: 480px;
    left: 215px;
}

.dot-10 {
    top: 640px;
    left: 215px;
}

/* Third row */

.dot-11 {
    top: 60px;
    left: 370px;
}

.dot-12 {
    top: 200px;
    left: 370px;
}

.dot-13 {
    top: 340px;
    left: 370px;
}

.dot-14 {
    top: 480px;
    left: 370px;
}

.dot-15 {
    top: 640px;
    left: 370px;
}

/* Fourth row */

.dot-16 {
    top: 60px;
    left: 525px;
}

.dot-17 {
    top: 200px;
    left: 525px;
}

.dot-18 {
    top: 340px;
    left: 525px;
}

.dot-19 {
    top: 480px;
    left: 525px;
}

.dot-20 {
    top: 640px;
    left: 525px;
}

/* Fifth row */

.dot-21 {
    top: 60px;
    left: 680px;
}

.dot-22 {
    top: 200px;
    left: 680px;
}

.dot-23 {
    top: 340px;
    left: 680px;
}

.dot-24 {
    top: 480px;
    left: 680px;
}

.dot-25 {
    top: 640px;
    left: 680px;
}

/* Sixth row */

.dot-26 {
    top: 60px;
    left: 835px;
}

.dot-27 {
    top: 200px;
    left: 835px;
}

.dot-28 {
    top: 340px;
    left: 835px;
}

.dot-29 {
    top: 480px;
    left: 835px;
}

.dot-30 {
    top: 640px;
    left: 835px;
}

/* Seventh row */

.dot-31 {
    top: 60px;
    left: 990px;
}

.dot-32 {
    top: 200px;
    left: 990px;
}

.dot-33 {
    top: 340px;
    left: 990px;
}

.dot-34 {
    top: 480px;
    left: 990px;
}

.dot-35 {
    top: 640px;
    left: 990px;
}

/* Eighth row */

.dot-36 {
    top: 60px;
    left: 1145px;
}

.dot-37 {
    top: 200px;
    left: 1145px;
}

.dot-38 {
    top: 340px;
    left: 1145px;
}

.dot-39 {
    top: 480px;
    left: 1145px;
}

.dot-40 {
    top: 640px;
    left: 1145px;
}

/* Ninth row */

.dot-41 {
    top: 60px;
    left: 1300px;
}

.dot-42 {
    top: 200px;
    left: 1300px;
}

.dot-43 {
    top: 340px;
    left: 1300px;
}

.dot-44 {
    top: 480px;
    left: 1300px;
}

.dot-45 {
    top: 640px;
    left: 1300px;
}

/* Ninth row */

.dot-46 {
    top: 60px;
    left: 1455px;
}

.dot-47 {
    top: 200px;
    left: 1455px;
}

.dot-48 {
    top: 340px;
    left: 1455px;
}

.dot-49 {
    top: 480px;
    left: 1455px;
}

.dot-50 {
    top: 640px;
    left: 1455px;
}
